@import "../../theme/variables";

@btn-padding-vertical: @padding-vertical;
@btn-padding-horizontal: @padding-horizontal;

@import "../../layouts/variables";

@btn-font-weight: bold;

@btn-primary-color: @primary-color;
@btn-primary-bg: @primary-bg;

@btn-secondary-color: @secondary-color;
@btn-secondary-bg: @secondary-bg;

@import "../../typographies/variables";

@btn-font-base-size: @font-base-size;
@btn-font-lg-size: @h3-size;
