<div>
  <p>Primary call-to-action button. Like "Send" och "OK".</p>
  <button class="btn btn--primary"></button>
</div>

<div>
  <p>Secondary action button. "Cancel" or "Back".</p>
  <button class="btn btn--secondary"></button>
</div>

<div>
  <p>Large button. Used with promotions.</p>
  <button class="btn btn--primary btn--lg"></button>
</div>

<div>
  <p>Responsive button. 100% width.</p>
  <button class="btn btn--secondary btn--block"></button>
</div>

<div>
  <p>Active state.</p>
  <button class="btn btn--primary" data-ui-state="active"></button>
</div>

<div>
  <p>Focus state.</p>
  <button class="btn btn--primary" data-ui-state="focus"></button>
</div>

<div>
  <p>Disabled state.</p>
  <button class="btn btn--primary" data-ui-state="disabled"></button>
</div>
